* {
  margin: 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;

}

body{
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1{
  margin: 17.42px 0;
}

h2{
  margin: 16.185px 0;
}

p{
  margin: 33px;
}

th{
  padding-bottom: 5px;
}

td{
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px
}

a{
  color: black;
}

a:visited{
  color: #666;
}

.field{
  margin-bottom: 10px;
}

.actions{
  margin-bottom: 10px;
}

input[type="submit" i]{
  padding: 1px 6px;
}

#notice{
  color: green;
}

#error_explanation{
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

 ul{
   margin: 33px;
   padding-left: 40px;
 }

#error_explanation h2{
  font-size:12px;
  padding: 5px 5px 5px 15px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: white;
}

#error_explanation ul li{
  font-size:12px;
}